.base-welcome
  .yui-gc
    -box do 
      %h2
        =:get_started_banner.l :site=>configatron.community_name
      %p
        %i=:homepage_banner_msg.l
      %p
        =:homepage_banner_signup_prompt.l
        =:create_your_account.l
      =link_to :sign_up.l, signup_path, :class=>"blue button"
