// Use normalize.css to make browsers render all elements consistently
@import 'normalize';

// Common CSS3 mixins provided by Compass gem
@import 'compass/css3';

// Variables
@import 'variables';

html, body {
	background: #f2f0f0;
	color: $black;
}
.top-bar {
	position: absolute;
	right: 50%;
	margin-right: - $pageWidth/2;
	padding: 5px 20px 10px;
	@include border-bottom-radius(5px);
	background: $white;
}
.page-wrapper {padding:30px 0;}
.page-content {
	margin: 0 auto;
	width: $pageWidth !important;
	background: #fff;
	@include single-box-shadow(rgba(0,0,0,0.2),0,1px,6px);
}
.page-header {
	$pageHeaderPaddingLeft: 20px;
	$pageHeaderPaddingRight: 20px;
	margin: 0 auto 10px;
	padding: 20px $pageHeaderPaddingRight 20px $pageHeaderPaddingLeft;
	width: $pageWidth - $pageHeaderPaddingRight - $pageHeaderPaddingLeft;
	display:table;
	text-align: left;
}
.site-brand, .site-nav, .site-search {
	display: table-cell;
	vertical-align: middle;
}
.site-brand {
	text-align:left;
	white-space:nowrap;
}
.site-nav {
	text-align: left;
	li {
		display: inline-block;
		vertical-align: top;
		margin-left:20px;
	}
	a {
		font-size: 15px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.site-search {
	text-align: right;
}
.page-nav {
	background-color: whitesmoke;
	min-height:20px;
	padding: 20px;
}
